/* Start Variables */
:root{
    --main-color: #02fceb ;
    --Paragraph-color:#777;
    --main-transition: 0.3s;
}
/* End Variables */

/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #fff;
}
::selection {
    background-color: var(--main-color);
    color: black;
  }
html{
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: #000;
    overflow-x: hidden;
}
.container{
    padding-left:15px; 
    padding-right:15px; 
    margin-left: auto; 
    margin-right: auto; 
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

  /* Mobail */
@media (max-width: 767px)  {
    .container {
        width: 100%;
    }
}
  /* Small */
@media (min-width: 768px)  {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px)  {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* End Global Rules */


/* Start Header */
header {
    position:-webkit-sticky;
    position:sticky;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container h1 span,
footer .box h1 span{
    color: var(--main-color);
    text-shadow:0px 0px 15px var(--main-color);
}
header .container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container ul li a{
    margin-left: 20px;
    font-weight: bold;
}
header .container ul li:hover a{
    color: var(--main-color);
    transition: var(--main-transition);
}
header .container ul li .active{
    font-weight: bold;
    color: var(--main-color);
    position: relative;
    text-shadow:0px 0px 15px var(--main-color);
}
header .container i{
    font-size: 30px;
    display: none;
}
header .container i:hover{
    box-shadow:0 0 50px 5px var(--main-color);
    color: var(--main-color);
}
.listInPhonescreen{
    position: absolute;
    width: 100%;
    font-size: 20px;
    text-align: center;
    background-color: rgb(0, 0, 0 , 0.6);
    display: none;
    padding: 20px 0 15px 0;
}
.listInPhonescreen ul li{
    margin-bottom: 15px;
}
.listInPhonescreen ul li:hover a{
    color: var(--main-color);
    transition: var(--main-transition);
    text-shadow:0px 0px 5px var(--main-color);
}
/* Mobail */
@media (max-width: 767px)  {
    header .container i{
        display: block;
    }
    header .container ul{
        display: none;
    }
}
/* End Header */


/* Start landing page */
.landing{
    height: 91vh;
}
.landing .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: translateY(150px);
}
.landing .container img{
    max-width:340px;
    border-radius: 50%;
    box-shadow:0 0 50px 5px var(--main-color);
}
.landing .container #infoBox {
    display: flex;
    flex-direction: column;
}
.landing .container #infoBox h1 {
    font-size: 35px;
    margin-bottom: 10px;
}
.landing .container #infoBox h1 span{
    color: var(--main-color);
    text-shadow:0px 0px 15px var(--main-color);
}
.landing .container #infoBox h3{
    border-right: 2px solid #fff;
    overflow: hidden;
    white-space: nowrap;
    animation: control-width 3s steps(28) 0.5s both, blink 0.5s infinite;
}
@keyframes control-width {
    from {
      width: 0;
    }
    to {
      width: 205px;
    }
  }
  @keyframes blink {
    from {
      border-right-color: var(--main-color);
    }
    to {
      border-right-color: transparent;
    }
  }
.landing .container #infoBox h3 span{
    color: var(--main-color);
}
.landing .container #infoBox p{
    line-height: 1.6;
    max-width:550px;
    margin: 15px 0px;
    font-weight: bold;
}
.landing .container #ContactBox {
    margin-bottom: 10px;
}
.landing .container #ContactBox :first-child {
    color: green;
}
.landing .container #ContactBox i {
    font-size: 22px;
    margin: 5px 5px;
}
.landing .container #ContactBox i:hover {
    text-shadow:0 0 16px #fff;
}
.landing .container #ContactBox .fa-telegram {
    color: #2196f3;
    background-color: #fff;
    border-radius: 50%;
}
.landing .container #ContactBox .fa-linkedin{
    color: #2196f3;
}
.landing .container #buttonConrainer {
    margin: 5px 0;
}
.landing .container #buttonConrainer button{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: solid 1px var(--main-color);
    margin: 5px  5px;
    font-weight: bold;
    background-color: transparent;
    color:var(--main-color);
}
.landing .container #buttonConrainer button:hover{
    background-color: var(--main-color);
    color: #000;
    box-shadow:0 0 5px 1px var(--main-color);
}
.landing .container #buttonConrainer :first-child{
    background-color: var(--main-color);
    color: #000;
    box-shadow:0 0 5px 1px var(--main-color);
}
.landing .container #buttonConrainer :first-child:hover{
    background-color: transparent;
    color:var(--main-color);
}
/* Medium */
@media (max-width: 992px)  {
    .landing .container{
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        transform: translateY(0);
    }
    .landing .container img{
        margin-top: 30px;
        max-width: 300px;
    }
    .landing .container #infoBox {
        margin-top: 30px;
        text-align: center;
    }
    .landing .container #infoBox h1 {
        font-size: 60px;
        margin-bottom: 15px;
    }
    .landing .container #infoBox h3{
        transform: translateX(120px);
    }
}
/* End landing page */


/* Start Services */
#servicesBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Services .sectionHeader {
    padding: 0;
}
#servicesBox .Service{
    background-color: var(--main-color);
    padding: 45px;
    width: 49%;
    border-radius: 20px;
    margin-bottom: 10px;
    transition: var(--main-transition);
}
#servicesBox .Service:hover{
    background-color: #fff;
}
#servicesBox .Service h2,
#servicesBox .Service p{
    color: black;
}
#servicesBox .Service h2 {
    margin-bottom: 10px;
}
#servicesBox .Service p {
    line-height: 1.6;
}
#servicesBox .Service h2 i{
    color: black;
}
/* Mobail */
@media (max-width: 767px)  {
    #servicesBox .Service{
        width: 100%;
    }
}
/* Medium */
@media (max-width: 992px)  {
      #Services .sectionHeader {
          padding: 140px 0 0 0;
      }

}
/* End Services */


/* Start Portfolio */
#Portfolio #projectsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Portfolio #projectsBox .project{
    width: 300px;
    border: solid 2px var(--main-color);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    transition: var(--main-transition);
}
#Portfolio #projectsBox .project:hover{
    box-shadow:0 0 10px 1px var(--main-color);
}
#Portfolio #projectsBox .project img{
    border-radius: 30px;
    width: 280px;
    margin-top: 10px;
}
#Portfolio #projectsBox .project h2{
    margin: 10px;
    padding: 0;
}
#Portfolio #projectsBox .project p{
    line-height: 1.4;
    text-align: center;
}

#Portfolio #projectsBox .project button{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: solid 1px var(--main-color);
    margin-top: 10px;
    font-weight: bold;
    background-color: transparent;
}
#Portfolio #projectsBox .project button a{
    color:var(--main-color);
}
#Portfolio #projectsBox .project button:hover{
    background-color: var(--main-color);
    color:black;
}
#Portfolio #projectsBox .project button:hover a{
    color:black;
}

/* Mobail */
@media (max-width: 767px)  {
    #Portfolio #projectsBox .project{
        width: 100%;
    }
}
/* End Portfolio */


/* Start Testimonials */
.testimonialsBox{
    display: grid;
    grid-template-columns:  repeat( auto-fill, minmax( 340px , 1fr) );;
    gap: 40px 40px;
    margin-bottom: 100px;
}
#Testimonials .Review{
    background-color: #000;
    padding: 20px;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px 0  var(--Paragraph-color);
}
#Testimonials .Review img{
    position: absolute;
    max-width: 100px;
    border-radius: 50%;
    border: solid 3px var(--main-color);
    top: -50px;
    right: -10px;
}
#Testimonials .Review h3{
    padding-bottom: 5px;
    color: var(--main-color);
}
#Testimonials .Review p{
    padding-bottom: 5px;
    color: #fff;
    line-height: 1.6;
}
#Testimonials .Review .stars_box i{
    padding-bottom: 5px;
    color: gold;
}
#Testimonials .Review .stars_box .none_star{
    color: #fff;
}
/* End Testimonials */



/* Start Skills */
#Skills .container .skillsBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.progress-ring {
    position: relative;
    width: 130px !important;
    height: 130px;
    border-radius: 50%;
    background: conic-gradient(
        #02fceb calc(var(--percentage) * 1%), 
        #e0e0e0 0
    );
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
#Skills .nameSkillandsnpah {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: -10px;
}
.progress-ring i{
    z-index: 9;
    font-size: 30px;
}
.progress-ring::after {
    content: '';
    position: absolute;
    width: 115px;
    height: 115px;
    background-color: #000;
    border-radius: 50%;
}
.progress-ringg {
    position: relative;
    width: 20px !important;
    height: 20px;
    border-radius: 50%;
    background: conic-gradient(
        calc(var(--percentage) * 1%), 
        #e0e0e0 0
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-ringg::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ffff;
    border-radius: 50%;
}

.snpah {
    margin-left: 5px;
}
/* End Skills */


/* Start Contact */
#Contact {
    padding: 50px 20px;
    text-align: center;
}
#Contact .container {
    padding: 0 200px;
}
  #Contact label{
      text-align: start;
    font-size: 17px;
}
#Contact p{
    text-align: start;
    font-size: 17px;
    margin-bottom: 10px;
}
#Contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#Contact input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
}
#Contact input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
}
#Contact button {
    background: var(--main-color);
    border: solid 1px var(--main-color);
    color: #000;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
#Contact button:hover {
    background-color: transparent;
    color: #fff;
}
/* Medium */
@media (max-width: 992px)  {
    #Contact .container {
        padding: 50px;
    }
}
/* Mobail */
@media (max-width: 767px) {
    #Contact .container {
        padding: 0px;
    }
}
/* End Contact */

/* Start Footer */
footer {
    background-color: #191919;
    padding: 70px 0 0;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .box .social {
    display: flex;
}
footer .box .social li {
    margin-right: 10px;

}
footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}
footer .box .social .facebook:hover {
    background-color: #1877f2;
}
footer .box .social .twitter:hover {
    background-color: #1da1f2;
}
footer .box .social .youtube:hover {
    background-color: #ff0000;
}
footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}
footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}
footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}
footer .box .links li:hover {
    padding-left: 10px;
}
footer .box .links li:hover a {
    color: white;
}
footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
.footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
footer .box .line .info span {
    display: block;
}
footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
}
footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}

/* Mobail */
@media (max-width: 767px) {
    footer {
      text-align: center;
    }
    footer .box .social {
        justify-content: center;
    }
    footer .box .line {
      flex-direction: column;
    }
    footer .box .line i {
      margin-right: 0;
      margin-bottom: 15px;
    }
}

/* End Footer */